<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aliyun.alink.devicesdk.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-sdk tools:overrideLibrary="com.aliyun.iot.breeze.biz,com.aliyun.iot.breeze.ota,
    com.aliyun.iot.breeze.sdk,com.aliyun.iot.ble,com.aliyun.alink.linksdk.tmp" />

    <application
        android:name="com.aliyun.alink.devicesdk.app.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity
            android:name="com.aliyun.alink.devicesdk.demo.DemoActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aliyun.alink.devicesdk.demo.LabelActivity" />
        <activity android:name="com.aliyun.alink.devicesdk.demo.COTAActivity" />
        <activity android:name="com.aliyun.alink.devicesdk.demo.ShadowActivity" />
        <activity android:name="com.aliyun.alink.devicesdk.demo.OTAActivity" />
        <activity android:name="com.aliyun.alink.devicesdk.demo.GatewayActivity" />
        <activity android:name="com.aliyun.alink.devicesdk.demo.H2FileManagerActivity" />
        <activity android:name="com.aliyun.alink.devicesdk.demo.MqttActivity" />
        <activity android:name="com.aliyun.alink.devicesdk.demo.LogPushActivity" />
        <activity android:name=".ResetActivity" />
        <activity android:name=".TSLActivity" />

        <!--http://lazybios.com/2016/12/install-apk-by-intent-compatible-adnroid-n/ -->
        <provider
            android:name="com.aliyun.alink.devicesdk.demo.FileProvider"
            android:authorities="com.aliyun.alink.devicesdk.demo.auth_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
